## Conventions

Throughout the documentation you will regularly encounter the following variables. These represent user-specific values that should be replaced when attempting any of the calls using your account. 

<%= partial "includes/tables/4" %>

## JSON Notation
```json
{
    "active": true,
    "created": "2014-09-04T16:59:33.000-05:00",
    "frequency": 60,
    "id": "0001409867973952-5056a550b8-0001-014",
    "internalUsername": null,
    "lastCheck": [
      {
        "created": "2014-10-02T13:03:25.000-05:00",
        "id": "0001412273000497-5056a550b8-0001-015",
        "message": null,
        "result": "PASSED",
        "type": "STORAGE"
      },
      {
        "created": "2014-10-02T13:03:25.000-05:00",
        "id": "0001411825368981-5056a550b8-0001-015",
        "message": null,
        "result": "FAILED",
        "type": "LOGIN"
      }
    ],
    "lastSuccess": "2014-10-02T11:03:13.000-05:00",
    "lastUpdated": "2014-10-02T13:03:25.000-05:00",
    "nextUpdate": "2014-10-02T14:03:15.000-05:00",
    "owner": "systest",
    "target": "demo.storage.example.com",
    "updateSystemStatus": false,
    "_links": {
        "checks": {
            "href": "https://public.tenants.agaveapi.co/monitor/v2/0001409867973952-5056a550b8-0001-014/checks"
        },
        "notifications": {
            "href": "https://public.tenants.agaveapi.co/notifications/v2/?associatedUuid=0001409867973952-5056a550b8-0001-014"
        },
        "owner": {
            "href": "https://public.tenants.agaveapi.co/profiles/v2/systest"
        },
        "self": {
            "href": "https://public.tenants.agaveapi.co/monitor/v2/0001409867973952-5056a550b8-0001-014"
        },
        "system": {
            "href": "https://public.tenants.agaveapi.co/systems/v2/demo.storage.example.com"
        }
    }
}
```

Javascript dot notation will be used to refer to individual properties of JSON objects. For example, consider the following JSON object.

* `active` refers to the top level `active` attribute in the response object.
* `lastCheck.[].result` refers to the result attribute contained within any of the objects contained in the `lastCheck` array.
* `lastCheck.[0].result` refers to the result attribute contained within the first object in the `lastCheck` array.
* `_links.self.href` refers to the href attribute in the checks object within the `_links` object.

## Versioning

The current major version of Agave is given in the URI immediately following the API resource name. For example, if the endpoint is `https://public.tenants.agaveapi.co/jobs/v2/`, the API version would be `v2`. The current major version of agave is v2. (Full version: 2.1.6)

### Special Character Handling

In certain situations, usually where file system paths and names are involved in some way, Agave will generate sanitized object names ("slugs") to make them safe to use. Slugs will be created on the fly by applying the following rules:

1. Lowercase the string
2. Replace spaces with a dash
3. Remove any special characters and punctuation that might require encoding in the URL. Allowed characters are alphanumeric characters, numbers, underscores, and periods.

### Secure communication

Agave uses SSL to secure communication with the clients. If HTTPS is not specified in the request, the request will be redirected to a secure channel.

### Requests

The Agave API is based on <a title="REST" href="http://en.wikipedia.org/wiki/Representational_state_transfer" target="_blank">REST</a> principles: data resources are accessed via standard HTTPS requests in UTF-8 format to an API endpoint. The API uses appropriate HTTP verbs for each action whenever possible. 

<%= partial "includes/tables/3" %>

#### Common API query parameters

Several URL query parameters are common across all services. The following table lists them for reference

<%= partial "includes/tables/77" %>

Starting with the 2.1.10 release, two new query parameters have been introduced into the jobs api as an experimental feature. The following table lists them for reference

<%= partial "includes/tables/86-search-query-parameters" %>


### Responses

All data is received and returned as a JSON object. 

#### Response Details

```json
{
    "status": "error",
    "message": "Permission denied. You do not have permission to view this system",
    "version": "2.2.8-rff32e62",
    "result": {}
}
```

Apart from the response code, all responses from Agave are in the form of a json object. The object takes the following form.

<%= partial "includes/tables/2" %>

Here, for example, is the response that occurs when trying to fetch information for system to which you do not have access:

#### Naked Responses

In situations where you do not care to parse the wrapper for the raw response data, you may request a *naked* response from the API by adding `naked=true` in to the request URL. This will return just the value of the `result` attribute in the response wrapper.

naked=true 
```{
  "id" : "data.iplantcollaborative.org",
  "name" : "CyVerse Data Store",
  "type" : "STORAGE",
  "description" : "CyVerse's petabyte-scale, cloud-based data management service.",
  "status" : "UP",
  "public" : true,
  "lastUpdated" : "2017-10-10T00:00:00.000-05:00",
  "default" : true,
  "_links" : {
    "self" : {
      "href" : "https://agave.iplantc.org/systems/v2/data.iplantcollaborative.org"
    }
  }
}```
naked=false
```{
  "status" : "success",
  "message" : null,
  "version" : "2.2.8-rff32e62",
  "result" : [ {
    "id" : "data.iplantcollaborative.org",
    "name" : "CyVerse Data Store",
    "type" : "STORAGE",
    "description" : "CyVerse's petabyte-scale, cloud-based data management service.",
    "status" : "UP",
    "public" : true,
    "lastUpdated" : "2017-10-10T00:00:00.000-05:00",
    "default" : true,
    "_links" : {
      "self" : {
        "href" : "https://agave.iplantc.org/systems/v2/data.iplantcollaborative.org"
      }
    }
  } ]
}```

### Formatting

By default, all responses are serialized JSON. To receive pre-formatted JSON, add `pretty=true` to any query string.

### Pagination

> Pagination using `limit` and `offset` query parameters.

```shell
curl -sk -H \
    "Authorization: Bearer ${API_KEY}" \
    "https://public.tenants.agaveapi.co/jobs/v2/?offset=50&limit=25"
```

```plaintext
jobs-list -o 50 -l 25
```

All resource collections support a way of paging the dataset, taking an `offset` and `limit` as query parameters:


Note that offset numbering is zero-based and that omitting the offset parameter will return the first X elements. By default, all search and listing responses from the Science APIs are paginated in groups of 250 objects. The lone exception being the Files API which will return all results by default.

Check the documentation for the specific endpoint to see specific information.

### Timestamps

Timestamps are returned in <a href="http://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO 8601</a> format offset for Central Standard Time (-05:00) `YYYY-MM-DDTHH:MM:SSZ-05:00`.

### Cross Origin Resource Sharing (CORS)

Many modern applications choose to implement client-server communication exclusively in Javascript. For this reason, Agave provides <a href="http://en.wikipedia.org/wiki/Cross-origin_resource_sharing" title="CORS" target="_blank">cross-origin resource sharing (CORS)</a> support so AJAX requests from a web browser are not constrained by cross-origin requests and can safely make GET, PUT, POST, and DELETE requests to the API.

### Hypermedia

```always
{
    "associationIds": [],
    "created": "2013-11-16T11:25:38.900-06:00",
    "internalUsername": null,
    "lastUpdated": "2013-11-16T11:25:38.900-06:00",
    "name": "color",
    "owner": "nryan",
    "uuid": "0001384622738900-5056a550b8-0001-012",
    "value": "red",
    "_links": {
        "self": {
            "href": "https://public.tenants.agaveapi.co/meta/v2/data/0001384622738900-5056a550b8-0001-012"
        },
        "owner": {
            "href": "https://public.tenants.agaveapi.co/profiles/v2/nryan"
        }
    }
}
```

Agave is a fully descriptive hypermedia API. Given any endpoint, you should be able to walk the API through the links provided in the `_links` object in each resource representation. The following user metadata object contains two referenced objects. The first, `self` is common to all objects, and contains the URL of that object. The second, `owner` contains the URL to the profile of the user who created the object.
